<div class="container-fluid">
  <nav class="navbar">
    <h1>
      <a routerLink="/"><i class="fas fa-book-open"> </i> KnowledgeHub </a>
    </h1>
    <ul>
      <a routerLink="/registration">Register</a>
      <a routerLink="/login">Login</a>
    </ul>
  </nav>
  <div class="cover-image-section">
    <div class="cover-image-content">
      <h1 @fade>One place for all the Books.</h1>
    </div>
  </div>
  <div class="landing-first-section">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center mt-5">
          <i class="fas fa-align-center fa-4x"></i>
          <div class="card-content mt-4">
            <h2>
              We have the best collection of open source books available out
              there. Free to read for regular users.
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center mt-5">
          <i class="fas fa-chess-king fa-4x"></i>
          <div class="card-content mt-4">
            <h2>
              Extra features available to premium users like dictionary, taking
              notes on the go.
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center mt-5">
          <i class="fas fa-child fa-4x"></i>
          <div class="card-content mt-4">
            <h2>
              Easy and understandable user interface designed to provide the
              best experience.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-section d-flex justify-content-center">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card text-center mt-5">
            <i class="fas fa-align-center fa-4x"></i>
            <div class="card-content mt-4">
              <h2>
                We have the best collection of open source books available out
                there. Free to read for regular users.
              </h2>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card text-center mt-5">
            <i class="fas fa-chess-king fa-4x"></i>
            <div class="card-content mt-4">
              <h2>
                Extra features available to premium users like dictionary,
                taking notes on the go.
              </h2>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card text-center mt-5">
            <i class="fas fa-child fa-4x"></i>
            <div class="card-content mt-4">
              <h2>
                Easy and understandable user interface designed to provide the
                best experience.
              </h2>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <footer class="footer-section">
    <section class="fontawesome">
      <a href=""><i class="fab fa-facebook-f fa-2x"></i></a>
      <a href=""><i class="fab fa-twitter fa-2x"></i></a>
      <a href=""><i class="fab fa-instagram fa-2x"></i></a>
    </section>

    <p>@2021 Copyright: KnowledgeHub</p>
  </footer>
</div>
